*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all .1s ease;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: sans-serif;
}

body {
	font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #3399cc;
	color: white;
	border: 1em solid #2b81ac;
	margin: 0;
}
.container{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 30px 0;
	position: fixed;
}

h1{
	text-transform: uppercase;
	padding-bottom: 15px;
}
.city{
	padding: 0;
	background-color: white;
	font-size: 0;
	border:3px solid #fff;
}

.city li {
	display: inline-block;
	border-color: transparent;
	text-align: center;
	border-color: white;
	border: 3px solid white;
}

.city:hover > li {
 opacity: .5;
}
.city li:hover { 
	opacity: 1;
}
.city li:active { 
	background: white;
}
li {
	padding: 0 0 ;
	font-size: 16px;
}
p {
	color: rgba(255, 255, 255, 0.6);
	padding: 10px;
}
a{
	color: white;
	text-decoration: none;
	display: block;
	font-size: 20px;
	padding: 1em 0;
}

.ls {
	background-color: #3399cc;
}

.pr {
	background-color: #33cccc;
}

.bl {
	background-color: #996699;
}

.ms{
	background-color: #c24747;
}

.ta{
	background-color: #e2674a;
}

.cr {
	background-color: #ffcc66;
}

.ny {
	background-color: #99cc99;
}
.wi{
	margin-left: .5em;
	font-size: 1.3em;
}

.nd {
	background-color: #669999;
}
.sf {
	background-color: #cc6699;
}
.tk {
	background-color: #339966;
}
.sd{
	background-color: #666699;
	}

.city .long{
	width: 100%;
}

.city .mid{
	width: 50%;
}

.city .small{
	width: 25%;
}