body{
	background-color: black;
	color: white; 
}
header{
	display: flex;
}
#navigation{
display: flex;

}
.navigation_list {
display: flex;
justify-content: space-between;
width: 90%
}
.navigation_item