* {
  box-sizing: border-box;
}

html,body {
  min-height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
  font: 400 25px/1.5 "Tebuchet MC", Tebuchet, Arial, sans-serif;
  color: #F9F9F9;
  border: 25px solid #fff;
  background-color: #3B3F45;
  padding-bottom: 3em;
}
.shopping__form{
  max-width: 50%;
  margin: auto;
  padding-bottom: 2rem;
}

.header, .btn{
  color: #eb7e7f;
}

.header{
  margin-bottom: 1.5rem;
  background: #4A4F56;
  padding: 20px 0;
}
.header > *{
 text-align: center;
 margin-bottom: 1rem;
}
h > * {
  color: #eb7e7f;
  font-weight: bold;
}
h1 {
  font-size: 35px;
}
h4 {
  font-size: 25px;
}

.chckbx {
  margin: auto;
  position: relative;
  max-width: 100%;
  padding: 20px 20px;
  border: 2px solid transparent;
}

.shoping_list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;

}

.shopping_list__item:nth-child(odd) label{
  background: #88839e;
}

.shopping_list [type="checkbox"] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  cursor: pointer;
  margin-right: 10px;
}

.shopping_list [type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #a3a0b5;
}
.shopping_list [type="checkbox"]:checked + span .description {
  color: inherit;
}
.shopping_list__label {
  display: block;
  padding: 15px;
  border: 5px solid transparent;
  border-left: none;
  border-right: none;
  line-height: 1;
  background: #7a7593;
  cursor: pointer;
}

.shopping_list__label:active{
 background-color: #eb7e7f;
}

.shopping_list__label:hover{
  border-color: white;
}
.shopping_list__label > * {
  font-size: 1.3rem;
  color: #cdcbd6;
  vertical-align: middle;
}

.shopping_list__label > *:not(:last-child){
  margin-right: .5rem;
}

.shopping_list .description:before {
  content: '(';
}
.shopping_list .description:after {
  content: ')';
}
.btn{
  min-height: 50px;
  width: 100%;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #4A4F56;
  border: none;
  cursor: pointer;
  margin: auto;
}