body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
html,
body {
  min-height: 100%;
}
body {
  font: 400 25px/1.5 "Tebuchet MC", Tebuchet, Arial, sans-serif;
  border: 25px solid #fff;
  background-color: #3B3F45;
  color: #F9F9F9;
}
  
.ba-header,
.ba-footer {
  text-align: center;
  background: #4A4F56;
  padding: 20px 0;
  color: #eb7e7f;
}
h1,
h2,
h3,
h4 {
  color: #eb7e7f;
  font-weight: 400;
}
h1 {
  font-size: 35px;
}
h4 {
  font-size: 25px;
  font-weight: 400;
}
.ba-container {
  margin: auto;
  position: relative;
  max-width: 800px;
  padding: 40px 20px;

}
.ba-shoping-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
}
.ba-shoping-list li {
  background: #7a7593;
  border: 0 solid #fff;
}
.ba-shoping-list li:nth-child(odd) {
  background: #88839e;
}
.ba-shoping-list li:hover {
  background: #625e77;
  border-width: 5px 0;
}
.ba-shoping-list li:active {
  background: #eb7e7f;
}
.ba-shoping-list [type="checkbox"] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  cursor: pointer;
  margin-right: 10px;
}
.ba-shoping-list [type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #a3a0b5;
}
.ba-shoping-list [type="checkbox"]:checked + span .ba-description {
  color: inherit;
}
.ba-shoping-list label {
  display: block;
  cursor: pointer;
  padding: 20px;
}
.ba-shoping-list .ba-description {
  font-size: 50%;
  color: #cdcbd6;
  vertical-align: middle;
}
.ba-shoping-list .ba-description:before {
  content: '(';
}
.ba-shoping-list .ba-description:after {
  content: ')';
}