//COLORS
$green-color: #48bf72;
$white:#ffffff;
$black:#000000;
$grey:#c1c1c1;
$first-screen-bg:#3c4955;
$dark-text: #505050;

$light-grey: lighter($black, 50%);

//FONTS
$fat-font:'Big John';
$slim-font:'Slim Joe';

//SIZEZ
$container-width: min-width;